@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');


body{
    font-family: 'Urbanist', sans-serif;
    overflow: hidden;
}

.item a, .item-button a {
    text-decoration: none;
    text-transform: capitalize;
    color: currentColor;
}
.item a:hover, .item-button a:hover{
    color: currentColor;
} 

header{
    width: 100vw;
    height: 100px;
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
    display: flex;
    align-items: center;
}
header .container-fluid{
    width: 100%;
    padding: 0px  60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .nav-logo img{
    width: 140px;
}
header .nav-items{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 3px;
}
header .item{
    text-align: center;
    font-size: 1.3rem;
    margin-inline-end: 7%;
    letter-spacing: 3px;
    color: #102447;
    padding: 5px 0;
    transition: all .1s ease;
    border-bottom: 0px solid #64d6f4;
    border-top: 0px solid #64d6f4;
    cursor: pointer;
}
header .item:hover{
    border-bottom: 3px solid #64d6f4;
    border-top: 3px solid #64d6f4;
}
header .item-button a{
    width: 150px;
    height: 50px;
    background-color: #102447;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    transition: all .5s ease;
}
header .item-button a:hover{
    background-color: #64d6f4;
}

