@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-ligth: #328ba8;
    --bg-dark: #0a1a2e;
}

.lampada-container{
    height: 100vh;
    background-color: var(--bg-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lampada-container h1{
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 3%;
}
.lampada-container .imagem{
    width: 15%;
    height: auto;
}

.lampada-container .imagem img{
    width: 100%;
    cursor: pointer;
}

.ligada{
    background-color: var(--bg-ligth);
}


@media (max-width: 980px){
    .lampada-container .imagem{
        width: 27%;
    }
}

@media (max-width: 500px){
    .lampada-container .imagem{
        width: 30%;
    }
}

@media (max-width: 407px){
    .lampada-container .imagem{
        width: 50%;
    }
    .lampada-container h1{
        font-size: 1.3em;
        margin-bottom: 20%;
    }
}